<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="MuseMembers is a museum and cultural institution membership management system. Designed to give users more access to institutions and increase membership retention and museum visits.">
    <meta name="keywords" content="museum membership, membership management, crm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MuseMembers</title>

    <!-- Bootstrap & Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Fonts & Icons -->
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Voltaire&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/images/BlackArtLogoMini.png">
    <script src="https://kit.fontawesome.com/8745b435ef.js" crossorigin="anonymous"></script>

    <!-- Google API Scripts -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="/index.ts"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/loginHeader') -%>

        <!-- Read -->
        <section id="myMemberships" class="pt-5 pb-3 p-lg-5 pt-lg-5 text-center text-sm-start bg-light">
            <!-- <h1>Todos</h1>
                <ul>
                    <% todos.forEach( el=> { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                            <span class='del'> Delete </span>
                        </li>
                        <% }) %>
                </ul>

                <h2>
                    <%= user.userName %> has <%= left %> things left to do.
                </h2> -->
            <div class="container">
                <h2>My Memberships</h2>
            </div>
            <div class="container">
                <% if (todos.length==0) { %>
                    <p>You haven't added any memberships. Checkout our <a href="#showNearby">nearby</a> feature
                        to see museums near you or <a href="addAMembership">add a membership</a>!</p>
                    <% } %>
            </div>
        </section>

        <!-- Create/Add Memberships -->
        <section id="addAMembership" class="m-3">
            <div class="container">
                <h2>Add a Membership</h2>
            </div>

            <form action="/todos/createTodo" method='POST'>
                <div class="container form-group">
                    <label for="chooseMuseum">Choose Your Museum:</label>
                    <select id="chooseMuseum" class="form-select bg-light" name="chooseMuseum">
                        <option value=""></option>
                        <option value="caryChildrensMuseum">Cary Children's Museum</option>
                        <option value="cityOfOaks">City of Oaks Historical Center</option>
                        <option value="museumOfClimateSciences">Museum of Climate Sciences</option>
                        <option value="ncFarmPark">NC Farm Park</option>
                        <option value="other">Other</option>
                    </select>
                    <small>If you'd like to add a membership for a non-partner organization, choose
                        'Other'.</small>
                </div>

                <!-- This should pop up on selection of 'other' on chooseMuseum dropdown -->
                <div id="organizationSearch" class="container mb-4 hidden">
                    <label for="orgName">Search for Your Organization:</label>
                    <div class="input-group">
                        <input type="text" name="orgName" id="orgNameInput" class="form-control bg-light p-3"
                            placeholder="Organization Name">
                        <a id="searchMap" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>

                <!-- This should pop up on click of 'orgName'button, populated with info from API call-->
                <div id="selectedOrgInfoForm" class="container hidden">
                    <div class="d-md-flex justify-content-center align-items-center row g4">
                        <div id="mapContainer" class="col-sm-6 col-lg-6 my-2">
                            <div class="card bg-white">
                                <div class="card-body text-center">
                                    <div id="map" class=""></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6 my-2">
                            <div class="card bg-white">
                                <div class="card-body text-center">
                                    <h3 id="displayOrgNameForm" class="card-title mb-3">Organization Name</h3>
                                    <p id="displayOrgAddressForm" class="card-subtitle m-2">Here is the address</p>
                                    <small id="museumSearchTag">Is this your museum? If not, try a new name in
                                        the search bar
                                        above.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="form-row container">
                    <div class="container form-group col-sm-6">
                        <label for="expiration">Maximum Number of Guests:</label>
                        <input type="number" class="form-control bg-light" placeholder="0" min="0" max="12">
                    </div>

                    <div class="container form-group col-sm-6">
                        <label for="expiration">Expiration Date:</label>
                        <input type="date" class="form-control bg-light">
                    </div>
                </div>

                <div class="container text-center">
                    <input id="addMembershipBtn" type="submit" class="btn btn-primary btn-lg shadow voltaire my-2">
                </div>
            </form>
        </section>

        <!-- Nearby Museum Recommendations -->
        <section id="showNearby" class="pt-5 pb-3 bg-light">
            <div class="container">
                <h2>Neaby Museums & Cutltural Institutions</h2>
                <p>Looking for something new? Here are some places to checkout near you:</p>
            </div>

            <div class="container">

            </div>
        </section>

        <%- include('partials/footer') -%>

            <script src="/js/main.js"></script>
            <!-- For Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
            <!-- For Google Maps API -->
            <script
                src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&callback=initMap&libraries=places&v=weekly"
                defer></script>
</body>

</html>